#wrap{width: 100%;}

/* 상단 */
#header{
    width: 100%;height:130px;
    /* background-color: #ccc; */
}
#header_in{
    margin: 0 auto;
    width: 100%; height: 130px;
    
    /* background-color: aliceblue; */
    position: relative;
}
#header_in .logo{
    
    float: left; margin-top: 20px;}
#header_in .infomn{
    position: absolute;
    top:20px; right: 2.6%;}
#header_in .infomn li{
    float: left; margin-left: 2.1vw;
}
#header_in .infomn li a{font-size: 12px;}

#header_in .nav{
    /* background-color: yellowgreen; */
    float: right; margin: 75px 2.1vw 0 0;
   
}
#header_in .nav>ul{ 
}

#header_in .nav>ul>li{
    float: left; margin-left: 3.3vw;
    position: relative;
    text-align: center;
    width: 8.3vw;height:10px ;
} 
#header_in .nav>ul>li:nth-child(4){
    padding-right:0.7vw ;
}
#header_in .nav>ul>li:nth-child(6){
    margin-left: 0;
}

#header_in .nav>ul>li>a{
    font-size: 1.5vw; font-weight: 700;
} 

#header_in .sub{
    position: absolute;
    top: 60px;left: -52px; text-align: start;
    z-index: 1000;
}
#header_in .sub>li{
    
    text-align: center;
    width: 150px;
    height: 40px;
}
#header_in .sub>li:hover{
    background-color: #111;
}

#header_in .sub>li>a{
    color: #fff;
    line-height: 40px;
}


/* 메인슬라이드 */
.swiper {
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
    height: 520px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 컨텐츠 */
#contents{
    
    width: 100%; 
    
}
#resume_goto{
    margin: 0 auto;
    padding: 42px 26px 0 26px; box-sizing: border-box;
    width: 100%;height:196px ;
   border-bottom:3px solid #777 ;}
#resume_goto .goto_ttl{float: left;}
#resume_goto .goto_ttl h3{font-size:35px; padding-bottom: 10px;}
#resume_goto .goto_ttl p{
    padding-top: 3px;
}

#resume_goto .gotobtn{
    margin-top: 10px;
    float: right; cursor: pointer;
    border: 1px solid #777;
    border-radius: 7px;
    text-align: center; line-height: 60px;
    width:185px; height: 60px;
}
/* 미술관 소개 */
#introduction{
    margin-top: 100px; box-sizing: border-box;
    width: 100%;height:500px;
    overflow: hidden;
}
#introduction .veiw{
   /* margin: 0 auto; */
    width:100%; height: 450px;
    display: flex;
    justify-content: space-between; 
   
}
#introduction .ttl_box{
    display: none;
    /* width: 190px;height:250px;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center; */
    
}
.ttl_box_1000{display: block;padding-bottom: 20px;}
.slide_area{
width: 100%;height:450px; 
}
.museum_list{ 
    display: flex; justify-content: space-between;
    width: 100%; height: 450px;}
.museum_list>li{
    width:23%; height: 450px;
   
} 
.intro_imgbox img{
    width: 100%; height: 100%;
}

.intro_imgbox{
    width: 100%; height: 250px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(224, 187, 181);
}
.listbox h5{
    float: left;padding: 8px 0 0 1vw;
    font-size: 20px;
}
.listbox span{
    padding: 9px 0 0 1vw;
    display: block; font-weight: 700;
    float: left;font-size: 1.7vw;
    color: #999;
}
.listbox p{
    display: block;
    font-size: 13px;
    width: 100%;
    padding: 10px 0 0 5px;
    float: left; line-height: 20px;
}
.museum_contents li{
    margin: 15px  0 0 5px;
    padding: 3px 3px;
    background-color: #666;
    border-radius: 7px;
    color: #fff;
    float: left;font-size: 12px;
}
.listbox a{
    width: 100%;
    display: block;margin: 10px 0 0 5px;
    float: left; font-size: 10px;
}
/* 전시 */

#exhibition{
    margin-top: 50px;
    padding-top: 20px;
    
    box-sizing: border-box;
    width: 100%; height: 865px;
    position: relative;
   }
#exhibition .ttl_box{
    padding-bottom: 20px;
}

#exhibition .exhi_left_btn{
    position: absolute;
    top: 500px; left:4vw;
}
#exhibition .exhi_left_btn img{
    width: 3.7vw; height: 3.7vh;
}
#exhibition .exhi_right_btn{
    position: absolute;
    top: 500px; right: 4vw;
}
#exhibition .exhi_right_btn img{
    width: 3.7vw; height: 3.7vh;
}

#exhibition .ttl_box{
    margin: 0 ;
    width: 100%;
    height: 50px;
}
.exhibition_top{
    margin-top: 10px;
    width: 100%;height:800px;
    background-color: #141313;
}
.museum_btn{
    width: 100%; height: 98px;
    border-bottom:3px solid #777;
    box-sizing: border-box;opacity: 0.7;
}
.museum_btn_in{
    margin: 0;
    width: 100%;height: 98px;
}
.museum_btn_in>ul{
    margin: 0 auto;
    width: 100%;height: 96px;
   line-height: 96px;
    display: flex; justify-content: space-around;
    background-color: #7c7a7a;
}
.museum_btn_in>ul>li {
    display: block;
    width: 10vw;
}
.museum_btn_in>ul>li>a{
    display: inline-block;
    border: 0;
    font-size: 1.6vw;
    color: #fff;
}

.exhibition_bottom{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; height: 650px;
   
}
.exhibition_bottom .post_area{
    width: 40vw;height:450px;
    border-radius: 7px;
    overflow: hidden;
}
.exhibition_bottom .exhibition_txt_area{
    margin-left: 20%;
    width: 37vw;height: 550px;
    color: #fff;

}
.exhibition_txt_area .exhhi_place{
    font-size: 15px;
}

.exhibition_txt_area .exhi_ttl{
    padding-top: 20px;
    font-size: 30px;
}

.exhibition_txt_area .date{
   
    padding: 20px 0 10px 0; font-size: 20px; font-weight: 700;
}
.exhibition_txt_area .stereo_guide{
   padding: 0 0 10px 0;
}
.exhibition_txt_area .exhi_exlpa p{
    font-size: 15px; padding-top: 10px;

}
.exhibition_txt_area .reserve_btn{
    margin-top:20px ; cursor: pointer;
    line-height: 40px; font-size: 15px;
    width: 120px;height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 7px;
}



/* 관련시설 */
#fasility{
    margin:0;
    margin-top: 200px;
    width:100%; height: 1048px;
   
}
#fasility  .ttl_box{
    padding-bottom: 30px;
}

.fasility_box{
    margin-top: 10px;
    width: 100%;height: 750px; 
}

.top_box{
    margin-bottom: 0;
    width: 100%; height: 524px;
}

.artbank{
    float: left;
    width: 100%; height: 262px;
    background-color:#ccc;}

.residence{
    float: right;
    width: 100%; height: 262px;
    background-color: #3a3333;
}   

.bottom_box{
    width: 100%; height: 524px;
}

.child_art{
    float: left;
    background-size: 100% ;
    width: 100%; height: 262px;
    background-color: #666;
}
.library{
    float: right;
    background-size: 100% 100%;
    width: 100%; height: 262px;
    background-color: slategray;
}
/* 디지털 미술관 */
#mmcatv{
    margin: 0 ;
    margin-top: 200px;
    width: 100%;height: 548px;
}
#mmcatv .ttl_box{
    padding-bottom: 30px;
}

.mmtv_main_box{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%; height:450px;
    background-color: #3a3333;
}
.movie_group{
    margin: 0 auto;
    width: 90vw;height: 295px;
    display: flex;
    justify-content: space-between;
}

.moviebox{
    width: 30vw;height: 295px;
    background-color: #777;
}
/* 뉴스레터 */
#newsletter{
    margin-top: 50px;
    width: 100%; height:528px ;
    position: relative;
}

#newsletter .ttl_box{
    margin: 0 ;
    padding-bottom:5px ;
    width: 100%; height: 50px;
}
#newsletter .ttl_box h3{
    font-size: 5vw;
}

.subscrip_btn{
    position: absolute;
    top: 130px;left: -300px;
    width:610px ;height: 66px;
    border:2px solid #fff;
   line-height: 66px;
    border-radius: 7px; z-index: 200;
}
.subscrip_btn a{
    padding-left:400px ;
    color: #fff;
}

.newspage{
    margin-top: 20px;
    width: 100%; height:466px;
    background-color: #4b4343;
}

.news_in{
    margin: 0;
    width: 100%; height: 466px;
    background-color: #3a3333;
    opacity: 0.9; position: relative;
}
.news_in .right_btn {
    position: absolute;
    top:300px ; right: 0;
}

.news_in .right_btn img{
    width: 30px; height: 30px;
}

.news_in .left_btn img{
    width: 30px; height: 30px;
}
.news_in .left_btn {
    position: absolute;
    top:300px ; left: 0;
}
.news_in_box{
    float: right;
    width: 850px;height: 466px;
    
}
.news_in_box .image_box{
    padding-top: 50px;
    float: right;
    width: 450px; height: 450px;

}
.news_in_box .newsletter_box{
    margin: 250px 0 0 0;
    padding: 50px 20px 0 0;
    box-sizing: border-box;
    text-align: right;
    width: 400px;height: 173px;
}

.news_in_box .newsletter_box h5{
    font-size:25px; color: #fff;
}
.news_in_box .newsletter_box p{
    padding-top: 10px;
    font-size: 1.4vw;
    color: #fff;
}


/* 새소식 */
#notice{
    margin-top: 90px;
    width: 100%; height: 550px;
}
#notice_in{
    margin: 0 ;
    display: flex;
    width: 100%;height: 550px;
    
}
#notice_in .right_box{
    width: 50vw;height: 550px;
   
}
#notice_in .ttl_box{
    padding: 20px 0 0 2vw;
    box-sizing: border-box;
    line-height: 150px;
    width: 44vw;height: 150px;
      
}
#notice_in .ttl_box .ttl{
   width: 100px; font-size: 30px;
}

#notice_in .ttl_box .ttl_eng{
    float: left; opacity: 0.4;
    font-size: 30px;
    text-transform: uppercase;
}
#notice_in .news_box{
    margin-left: 2vw;
    width: 44vw;height: 250px;
    border-top: 3px solid #111 ;
    border-bottom: 3px solid #111 ;
}
#notice_in .left_box{
    width: 50vw;height: 550px;
   
}

#notice_in .notice_box{
    margin-left:2vw;
    width: 44vw;height: 250px;
    border-top: 3px solid #111 ;
    border-bottom: 3px solid #111 ;
}

/* 하단 */
#footer{
    width: 100%;height: 400px;
    
}
#footer_top{
    width: 100%;height: 250px;
    background-color: #3a3333;
}
#footer_top .top_in{
    margin: 0 ;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    width: 100%;height:200px;
    background-color: #3a3333;
}
#footer_top .top_in .company_info {
    float: left;
}
#footer_top .top_in .company_info p{
    padding-top: 3px;
    font-size: 1.3vw; color: #adadad;
}
#footer_top .top_in .sub_mn{
    float: right;
    width: 55.5vw;height: 200px;
}
#footer_top .top_in .sub_mn_li{
    margin-left: 9vw;
}

#footer_top .top_in .sub_mn_li >li{
    float: left; margin-left: 6vw;
}
#footer_top .top_in .foot_li>li>a{
    color: #adadad; font-size: 1.2vw;
}

#footer_bottom{
    
    width: 100%;height: 127px;
   
}
#footer_bottom .bottom_in{
    margin: 0;
    padding-top: 15px;
    box-sizing: border-box;
    width: 100%;height: 127px;
    
}

